reward-container {
    width: 20px;
}

img {
    max-width: 300px;
    height: auto;
}

textarea {
    height: 500px;
    width: 500px;
}

h1 {

}

.goal-container {
    margin: 15px;
}

#user-container {
    margin: 15px;
}